.search-form {
  display: flex;
  align-items: baseline;
  height: fit-content;
}
.search-input {
  width: 12rem;
  height: 1.6rem;
  font-size: 1.2rem;
  margin: 1rem 0;
}

.search-icon {
  color: var(--white-color);
  height: 100%;
  align-self: center;
  margin: 0 0.5rem;
}
.search-btn {
  background-color: transparent;
  border: 0;
}
.form-conatiner {
  position: absolute;
  left: 3%;
}
